* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  position: relative;
  width: 25rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.card-1 {
  background: linear-gradient(to bottom left, transparent 35px, rgb(208, 208, 26) 0);
  color: #222;
}

.card-1::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 71px;
  height: 40px;
  background: rgb(177, 177, 21);
  background: linear-gradient(to bottom left, transparent 50%, rgb(177, 177, 21) 0);
  border-bottom-left-radius: 0.5rem;
}